body {
    background-color: #f1faee;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: #e63946;
    font-family: 'Special Elite', cursive;
    color: #f1faeedd;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    text-justify: inter-word;
    text-align: center;
    font-size: 40px;
}