body {
    background-color: #e8eddf;
    margin: 0px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.navbar {
    width: 100%;
    height: fit-content;
    background-color: #333533;
    font-family: 'Pacifico', cursive;
    color: #e8eddf;
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding-bottom: 0px;
}

.titleText {
    font-weight: lighter;
    position: relative;
    top: 015px;
}

#button-div {
    width: 100%;
    display: flex;
    background-color: #242423;
}

.tabForm {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 5vw;
    margin-left: 5vw;
}

.button {
    font-size: 25px;
    color: #f5cb5c;
    background-color: #242423;
    width: 100%;
    z-index: 100;
}


.button:hover {
    color: #f1faee;
    background-color:#f5cb5c;
}

.activeTab {
    background-color: #f5cb5cdd;
    color: #333533;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    z-index: -10;

}

label {
    position: relative;
    z-index: -10;
}

.beerDiv {
    height: 200px;
}

.beerIcon {
    height: 100%;
}

.intro {
    color: #242423;
    font-weight: bold;    
    font-family: 'Nunito', sans-serif;

}

.info {
    font-family: 'Nunito', sans-serif;
    color: #242423;
    max-width: 80vw;
    font-size: 20px;
}

@media screen and (min-width: 600px) {
    .button {
      font-size: 30px;
    }

    .titleText {
        font-size: 60px;
    }

    .tabForm {
        margin-right: 30vw;
        margin-left: 30vw;    
    }

    .beerDiv {
        height: 300px;
    }
    
    .intro {
        font-size: 40px;
    }

    .info {
        font-size: 30px;
    }

}  

